<div class="container">
  <div class="avatar">
    <img src="https://www.shutterstock.com/image-vector/cute-cartoon-owl-girl-pink-600w-1310039185.jpg" alt="avatar" />
  </div>
  <div class="menus">
    <img src="https://raw.githubusercontent.com/Nidhi-03/Nidhi-logos/3586bd6947e2ccc83ff65f11332229e12cad3670/group.svg" alt="group" />
    <img src="https://raw.githubusercontent.com/Nidhi-03/Nidhi-logos/3586bd6947e2ccc83ff65f11332229e12cad3670/status.svg" alt="status" />
    <img src="https://raw.githubusercontent.com/Nidhi-03/Nidhi-logos/3586bd6947e2ccc83ff65f11332229e12cad3670/message.svg" alt="message" />
    <img src="https://raw.githubusercontent.com/Nidhi-03/Nidhi-logos/3586bd6947e2ccc83ff65f11332229e12cad3670/menus.svg" alt="menus" />
  </div>
</div>
